<html>
<head>
    <title>COVID TRACKING INFORMATION</title>
    <style>
        table {
            border-collapse: collapse;
        }
        table, td, th {
            border: 1px solid #999;
            padding: 5px;
        }






    </style>
</head>
<body>
<h1>INFORMATION</h1>

<form action="/filterbydate" method="post" modelAttribute="FilterItem">
    <p>Date: <input name="date" type="date"></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

<table>
    <tr>
        <th>Country</th>
        <th>Confirmed Cases</th>
        <th>Total Deaths</th>
        <th>Total Recovered</th>
        <th>Updated Date</th>
    </tr>
    {{#covidinfos}}
    <tr>
        <td>{{country}}</td>
        <td>{{cases}}</td>
        <td>{{deaths}}</td>
        <td>{{recovered}}</td>
        <td>{{date}}</td>
    </tr>
    {{/covidinfos}}
</table>
</body>
</html>